<!--banner-->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQSUH3q4uRHtodt3yr1KqS-DzDwLrUOlIyXgIVZn9x_dtWrMxknXkX495yIuCAqlU5NgqnQjzer79IH-voyaH532nf9PU219u5DzkZc5O71PBKnaiB1Hamdk7x0HDe1srcGCFfC5lDPcp97GlNxfczoSX.jpg?r=81b);">
  <!--navbar-->
    <div class="navbar navbar-expand-sm navbar-light navbar-listo">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i id="logo-blue" class="fas fa-th-list"></i>
          <i id="logo-red" class="fas fa-th-list"></i>
          <i id="logo-yellow" class="fas fa-th-list"></i>
          <span id="brand-name">listo</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <%= link_to "My List", lists_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "New List", new_list_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"/>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">My Lists</a>
                  <a class="dropdown-item" href="#">New List</a>
                  <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
                </div>
              </li>
              <!--li class="nav-item"-->
              <!--/li-->
          </ul>
        </div>
      </div>
    </div>
  <div class="container text-center font-weight-bold">
    <h1><span class="typed"></span></h1>
  </div>
</div>

<!--cards-->
<div class="container m-5">
  <h1 class="text-center">My WatchLists</h1>
  <div class="button-add">
  <%= link_to new_list_path, class: "button-text" do %>
    <div class="btn btn-primary">
      <p>+ Add a list</p>
    </div>
  </div>
  <% end %>
  <div class="row">
    <% @lists.each do |list| %>
        <div class="col-3 mb-3">
          <%= link_to list_path(list), class: "card-text" do %>
            <div class="card-pick">
            <% if list.photo.attached? %>
              <%= cl_image_tag list.photo.key, width: 600, height: 160 %>
              <% else %>
              <%= cl_image_tag "q2zwdzid3a3vo6m5786rtisfjxbb", width: 600, height: 160 %>
            <% end %>
              <div class="card-pick-info">
                <h2><%= list.name %></h2>
                <%= link_to "Delete", list_path(list), data: {confirm: 'Are you sure?'}, method: :delete %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
<!--footer-->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
